{% extends 'base.html' %}

{% block titles %}
<title>
    寒门客-ACG图片
</title>
{% endblock %}

{% block app_content %}

<div class="container">
<div class="row">
    <center>
        <br>

    {% if codes == 200 %}
        <h3>随机返回一张图片（动画、漫画、游戏之类的图片）</h3><br>
        <h3>图片链接:</h3>
        <p>{{ rs['data']['url'] }}</p><br>
                <button type="button" class="btn btn-primary">
        <h4><a href="{{ url_for('gojudaquan.acg_tp') }}">下一张图片</a></h4>
    </button><br><br>
        <img src="{{ rs['data']['url'] }}" width="55%" height="55%"/><br>
<br>
    {% endif %}

    <h2  class="text-center">作者的抖音二维码:</h2>
  <img src="{{ url_for('static',filename='images/douyinss.png') }}" alt="ACG图片" width="50%" height="50%"/>
</center>
</div>
</div>
{% endblock %}