{% extends 'base.html' %}

{% block titles %}
<title rel="寒门客">寒门客-工具大全</title>
{% endblock %}

{% block lunbo %}
<div class="jumbotron text-center" style="margin-bottom:0" rel="作者:黄海登">
  <h1>免责声明</h1>
    <p>本网站所提供的信息，只供参考之用。</p>
    <p>本网站是一个开源项目.</p>
    <p>本网站图片，文字信息之类版权申明，皆来自于互联网，如果侵犯，请及时通知我们，本网站将在第一时间及时删除。</p>
    <p>凡以任何方式登陆本网站或直接、间接使用本网站资料者，视为自愿接受本网站声明的约束。</p>
</div>
{% endblock %}

{% block app_content %}
<div class="container">

                	<div class="row clearfix">
        <div class="col-md-12 column" rel="微信公众号:雪影IP工作室">
            <div class="boxlist" rel="微信公众号:雪影IP工作室">
                <h3>新闻资讯</h3>
            </div>

     <div class="col-md-3 col-sm-6 column black_box" rel="微信公众号:雪影IP工作室">
            <div class="box_01" rel="微信公众号:雪影IP工作室">
            <div class="icon" style="background-color:#f4f4f4;" rel="微信公众号:雪影IP工作室">
              <center>
                <img src="{{ url_for('static',filename='images/1.png') }}" alt="随机语录-每日一言" width="47" height="47">
              </center>
        </div>
        <div class="title_h4"><a href="{{ url_for('gojudaquan.suijiluyan') }}" rel="随机语录-每日一言" target="_blank">随机语录-每日一言</a></div>
        <p>随机输出一句经典语录</p>

              <div class="btn_sy"><a href="{{ url_for('gojudaquan.suijiluyan') }}" rel="随机语录-每日一言">开始使用</a></div><br>
          </div>
      </div>


     <div class="col-md-3 col-sm-6 column black_box" rel="微信公众号:雪影IP工作室">
            <div class="box_01" rel="作者:黄海等">
            <div class="icon" style="background-color:#f4f4f4;" rel="微信公众号:雪影IP工作室">
              <center rel="知乎:雪影IP工作室">
                <img src="{{ url_for('static',filename='images/2.png') }}" alt="今日热榜" width="47" height="47">
              </center>
        </div>
        <div class="title_h4"><a href="{{ url_for('gojudaquan.jr_rp') }}" rel="今日热榜" target="_blank">今日热榜</a></div>
        <p>今日热榜提供各站热榜聚合：微信、今日头条、百度、知乎、V2EX、微博、贴吧、豆瓣、天涯、虎扑、Github、抖音...追踪全网热点、简单高效阅读</p>

              <div class="btn_sy"><a href="{{ url_for('gojudaquan.jr_rp') }}" rel="今日热榜">开始使用</a></div><br>
          </div>
      </div>

     <div class="col-md-3 col-sm-6 column black_box" rel="知乎:雪影IP工作室">
            <div class="box_01" rel="知乎:雪影IP工作室">
            <div class="icon" style="background-color:#f4f4f4;">
              <center rel="微信公众号:雪影IP工作室">
                <img src="{{ url_for('static',filename='images/3.png') }}" alt="知乎日报" width="47" height="47">
              </center>
        </div>
        <div class="title_h4"><a href="{{ url_for('gojudaquan.zhihu_rb') }}" rel="知乎日报" target="_blank">知乎日报</a></div>
        <p>获取当日的知乎日报</p>
              <div class="btn_sy"><a href="{{ url_for('gojudaquan.zhihu_rb') }}" rel="知乎日报">开始使用</a></div><br>
          </div>
      </div>

     <div class="col-md-3 col-sm-6 column black_box" rel="抖音:黄海登">
            <div class="box_01" rel="微信公众号:雪影IP工作室">
            <div class="icon" style="background-color:#f4f4f4;">
              <center rel="微信公众号:雪影IP工作室">
                <img src="{{ url_for('static',filename='images/4.png') }}" alt="历史上的今天" width="47" height="47">
              </center>
        </div>
        <div class="title_h4"><a href="{{ url_for('gojudaquan.lzsd_jt') }}" rel="历史上的今天" target="_blank">历史上的今天</a></div>
        <p>获取历史上同一月同一天发生的事情</p>
              <div class="btn_sy"><a href="{{ url_for('gojudaquan.lzsd_jt') }}" rel="历史上的今天">开始使用</a></div><br>
          </div>
      </div>


           <div class="col-md-3 col-sm-6 column black_box" rel="微信公众号:雪影IP工作室">
            <div class="box_01">
            <div class="icon" style="background-color:#f4f4f4;" rel="微信公众号:雪影IP工作室">
              <center>
                <img src="{{ url_for('static',filename='images/5.png') }}" alt="微博热搜榜" width="47" height="47">
              </center>
        </div>
        <div class="title_h4"><a href="{{ url_for('gojudaquan.wb_rsb') }}" rel="微博热搜榜" target="_blank">微博热搜榜</a></div>
        <p>获取实时微博热搜榜</p>
              <div class="btn_sy"><a href="{{ url_for('gojudaquan.wb_rsb') }}" rel="微博热搜榜">开始使用</a></div><br>
          </div>
      </div>


               <div class="col-md-3 col-sm-6 column black_box" rel="微信公众号:雪影IP工作室">
            <div class="box_01">
            <div class="icon" style="background-color:#f4f4f4;" rel="微信公众号:雪影IP工作室">
              <center>
                <img src="{{ url_for('static',filename='images/6.png') }}" alt="汉服新闻" width="47" height="47">
              </center>
        </div>
        <div class="title_h4"><a href="{{ url_for('gojudaquan.hf_xw') }}" rel="汉服新闻" target="_blank">汉服新闻</a></div>
        <p>获取有关汉服新闻数据</p>
              <div class="btn_sy"><a href="{{ url_for('gojudaquan.hf_xw') }}" rel="汉服新闻">开始使用</a></div><br>
          </div>
      </div>

               <div class="col-md-3 col-sm-6 column black_box" rel="知乎:雪影IP工作室">
            <div class="box_01" rel="知乎:雪影IP工作室">
            <div class="icon" style="background-color:#f4f4f4;" rel="知乎:雪影IP工作室">
              <center rel="知乎:雪影IP工作室">
                <img src="{{ url_for('static',filename='images/7.png') }}" alt="网易新闻头条" width="47" height="47">
              </center>
        </div>
        <div class="title_h4"><a href="{{ url_for('gojudaquan.wy_xw_tt') }}" rel="网易新闻头条" target="_blank">网易新闻头条</a></div>
        <p>获取网易新闻头条数据</p>
              <div class="btn_sy"><a href="{{ url_for('gojudaquan.wy_xw_tt') }}" rel="网易新闻头条">开始使用</a></div><br>
          </div>
      </div>




        </div>
                    </div>


                	<div class="row clearfix" rel="知乎:雪影IP工作室">
        <div class="col-md-12 column" rel="知乎:雪影IP工作室">
            <div class="boxlist" rel="知乎:雪影IP工作室">
                <h3>机器翻译</h3>
            </div>


     <div class="col-md-3 col-sm-6 column black_box" rel="知乎:雪影IP工作室">
            <div class="box_01">
            <div class="icon" style="background-color:#f4f4f4;" rel="知乎:雪影IP工作室">
              <center rel="知乎:雪影IP工作室">
                <img src="{{ url_for('static',filename='images/9.png') }}" alt="中文翻译" width="47" height="47">
              </center>
        </div>
        <div class="title_h4" rel="知乎:雪影IP工作室"><a href="{{ url_for('gojudaquan.zw_fy') }}" rel="中文翻译" target="_blank">中文翻译</a></div>
        <p>支持中、英、日、韩等28种语言互译</p>

              <div class="btn_sy"><a href="{{ url_for('gojudaquan.zw_fy') }}" rel="中文翻译">开始使用</a></div><br>
          </div>
      </div>



        </div>
                    </div>


            	<div class="row clearfix" rel="知乎:雪影IP工作室">
        <div class="col-md-12 column" rel="知乎:雪影IP工作室">
            <div class="boxlist" rel="知乎:雪影IP工作室">
                <h3 rel="知乎:雪影IP工作室">图片处理工具</h3>
            </div>


                            <div class="col-md-3 col-sm-6 column black_box" rel="知乎:雪影IP工作室">
            <div class="box_01" rel="知乎:雪影IP工作室">
            <div class="icon" style="background-color:#f4f4f4;" rel="知乎:雪影IP工作室">
              <center rel="知乎:雪影IP工作室">
                <img src="{{ url_for('static',filename='images/10.png') }}" alt="网站背景图" width="47" height="47">
              </center>
        </div>
        <div class="title_h4" rel="知乎:雪影IP工作室"><a href="{{ url_for('gojudaquan.wz_bjtu') }}" rel="nofollow" target="_blank">网站背景图</a></div>
        <p>随机输出网站背景图片</p>

              <div class="btn_sy" rel="知乎:雪影IP工作室"><a href="{{ url_for('gojudaquan.wz_bjtu') }}" rel="nofollow">开始使用</a></div><br>
          </div>
      </div>



                            <div class="col-md-3 col-sm-6 column black_box" rel="知乎:雪影IP工作室">
            <div class="box_01" rel="知乎:雪影IP工作室">
            <div class="icon" style="background-color:#f4f4f4;" rel="知乎:雪影IP工作室">
              <center rel="知乎:雪影IP工作室">
                <img src="{{ url_for('static',filename='images/11.png') }}" alt="Bilibili 封面获取" width="47" height="47">
              </center>
        </div>
        <div class="title_h4" rel="知乎:雪影IP工作室"><a href="{{ url_for('gojudaquan.bilibili_fm') }}" rel="nofollow" target="_blank">Bilibili 封面获取</a></div>
        <p>想必很多人都会遇到这样的一个问题。在B站浏览视频的时候，往往很多人会被各式各样的封面所吸引，从而点了进去，结果发现往往封面的图片在这些视频中一闪而过，甚至有的时候都没有出现。 这个本站就可以获取 b 站的 视频封面，直播封面，专栏封面等</p>

              <div class="btn_sy" rel="知乎:雪影IP工作室"><a href="{{ url_for('gojudaquan.bilibili_fm') }}" rel="nofollow">开始使用</a></div><br>
          </div>
      </div>




                                    <div class="col-md-3 col-sm-6 column black_box" rel="知乎:雪影IP工作室">
            <div class="box_01" rel="知乎:雪影IP工作室">
            <div class="icon" style="background-color:#f4f4f4;" rel="知乎:雪影IP工作室">
              <center>
                <img src="{{ url_for('static',filename='images/12.png') }}" alt="ACG图片" width="47" height="47">
              </center>
        </div>
        <div class="title_h4" rel="抖音:黄海登"><a href="{{ url_for('gojudaquan.acg_tp') }}" rel="ACG图片" target="_blank">ACG图片</a></div>
        <p>随机返回一张图片（动画、漫画、游戏之类的图片）</p>

              <div class="btn_sy" rel="抖音:黄海登"><a href="{{ url_for('gojudaquan.acg_tp') }}" rel="ACG图片">开始使用</a></div><br>
          </div>
      </div>



                                          <div class="col-md-3 col-sm-6 column black_box">
            <div class="box_01" rel="抖音:黄海登">
            <div class="icon" style="background-color:#f4f4f4;" rel="抖音:黄海登">
              <center>
                <img src="{{ url_for('static',filename='images/13.png') }}" alt="Bing Bing 壁纸获取" width="47" height="47">
              </center>
        </div>
        <div class="title_h4" rel="抖音:黄海登"><a href="{{ url_for('gojudaquan.bing_bz') }}" rel="Bing 壁纸获取" target="_blank">Bing 壁纸获取</a></div>
        <p>获取最近的Bing 壁纸</p>

              <div class="btn_sy" rel="抖音:黄海登"><a href="{{ url_for('gojudaquan.bing_bz') }}" rel="Bing 壁纸获取">开始使用</a></div><br>
          </div>
      </div>


                                          <div class="col-md-3 col-sm-6 column black_box" rel="抖音:黄海登">
            <div class="box_01" rel="抖音:黄海登">
            <div class="icon" style="background-color:#f4f4f4;" rel="抖音:黄海登">
              <center rel="知乎:雪影IP工作室">
                <img src="{{ url_for('static',filename='images/14.png') }}" alt="随机头像输出" width="47" height="47">
              </center>
        </div>
        <div class="title_h4" rel="知乎:雪影IP工作室"><a href="{{ url_for('gojudaquan.avatar_sj') }}" rel="nofollow" target="_blank">随机头像输出</a></div>
        <p>随机头像输出</p>

              <div class="btn_sy" rel="知乎:雪影IP工作室"><a href="{{ url_for('gojudaquan.avatar_sj') }}" rel="nofollow">开始使用</a></div><br>
          </div>
      </div>


        </div>
            </div>




            	<div class="row clearfix" rel="知乎:雪影IP工作室">
        <div class="col-md-12 column" rel="知乎:雪影IP工作室">
            <div class="boxlist">
                <h3 rel="知乎:雪影IP工作室">IP处理工具</h3>
            </div>

                                    <div class="col-md-3 col-sm-6 column black_box">
    <div class="box_01" rel="知乎:雪影IP工作室">

        <div class="icon" style="background-color:#f4f4f4;" rel="知乎:雪影IP工作室"><center rel="知乎:雪影IP工作室">
                        <img src="{{ url_for('static',filename='images/15.png') }}" alt="IP域名归属地查询" width="47" height="47">
                    </center>
        </div>
        <div class="title_h4" rel="知乎:雪影IP工作室"><a href="{{ url_for('gojudaquan.ip_ym_cx') }}" rel="nofollow" target="_blank">IP域名归属地查询</a></div>
        <p>查询IP或者域名归属地</p>

        <div class="btn_sy" rel="知乎:雪影IP工作室"><a href="{{ url_for('gojudaquan.ip_ym_cx') }}"rel="nofollow">开始使用</a></div><br>

    </div>
</div>


                                    <div class="col-md-3 col-sm-6 column black_box">
    <div class="box_01" rel="知乎:雪影IP工作室">

        <div class="icon" style="background-color:#f4f4f4;" rel="知乎:雪影IP工作室"><center>
                        <img src="{{ url_for('static',filename='images/15.png') }}" alt="IP查询" width="47" height="47">
                    </center>
        </div>
        <div class="title_h4" rel="知乎:雪影IP工作室"><a href="{{ url_for('gojudaquan.ip_cx') }}" rel="IP查询" target="_blank">IP查询</a></div>
        <p>根据 ip 查询位置和网络</p>

        <div class="btn_sy" rel="知乎:雪影IP工作室"><a href="{{ url_for('gojudaquan.ip_cx') }}" rel="IP查询">开始使用</a></div><br>

    </div>
</div>

        </div>
                </div>





            	<div class="row clearfix" rel="知乎:雪影IP工作室">
        <div class="col-md-12 column" rel="知乎:雪影IP工作室">
            <div class="boxlist" rel="知乎:雪影IP工作室">
                <h3>手机号处理</h3>
            </div>


         <div class="col-md-3 col-sm-6 column black_box" rel="知乎:雪影IP工作室">
    <div class="box_01" rel="知乎:雪影IP工作室">

        <div class="icon" style="background-color:#f4f4f4;" rel="知乎:雪影IP工作室"><center>
                        <img src="{{ url_for('static',filename='images/16.png') }}" alt="手机归属地查询" width="47" height="47">
                    </center>
        </div>
        <div class="title_h4" rel="知乎:雪影IP工作室"><a href="{{ url_for('gojudaquan.sjh_cx') }}" rel="手机归属地查询" target="_blank">手机归属地查询</a></div>
        <p>根据手机号码查询手机号的归属地信息</p>

        <div class="btn_sy" rel="知乎:雪影IP工作室"><a href="{{ url_for('gojudaquan.sjh_cx') }}"rel="手机归属地查询">开始使用</a></div><br>

    </div>
</div>




        </div>
                </div>



        	<div class="row clearfix" rel="知乎:雪影IP工作室">
        <div class="col-md-12 column" rel="知乎:雪影IP工作室">
            <div class="boxlist" rel="知乎:雪影IP工作室">
                <h3>身份证处理</h3>
            </div>

     <div class="col-md-3 col-sm-6 column black_box" rel="寒门客">
    <div class="box_01" rel="寒门客">

        <div class="icon" style="background-color:#f4f4f4;" rel="寒门客"><center rel="寒门客">
                        <img src="{{ url_for('static',filename='images/17.png') }}" alt="身份证查询" width="47" height="47">
                    </center>
        </div>
        <div class="title_h4" rel="寒门客"><a href="{{ url_for('gojudaquan.sfz_cx') }}" rel="身份证查询" target="_blank">身份证查询</a></div>
        <p>根据身份证获取该身份证号码的籍贯，出生年月，性别等信息</p>

        <div class="btn_sy" rel="寒门客"><a href="{{ url_for('gojudaquan.sfz_cx') }}"rel="身份证查询">开始使用</a></div><br>

    </div>
</div>




     <div class="col-md-3 col-sm-6 column black_box" rel="寒门客">
    <div class="box_01" rel="寒门客">

        <div class="icon" style="background-color:#f4f4f4;" rel="寒门客"><center>
                        <img src="{{ url_for('static',filename='images/17.png') }}" alt="身份证信息查询" width="47" height="47">
                    </center>
        </div>
        <div class="title_h4" rel="寒门客"><a href="{{ url_for('gojudaquan.sfz_xx_cx') }}" rel="身份证信息查询" target="_blank">身份证信息查询</a></div>
        <p>身份证信息查询(不支持查询百岁老人)</p>

        <div class="btn_sy" rel="寒门客"><a href="{{ url_for('gojudaquan.sfz_xx_cx') }}"rel="身份证信息查询">开始使用</a></div><br>

    </div>
</div>



        </div>
            </div>



    	<div class="row clearfix" rel="寒门客">
        <div class="col-md-12 column" rel="寒门客">
            <div class="boxlist" rel="寒门客">
                <h3 rel="域名工具">域名工具</h3>
            </div>

                              <div class="col-md-3 col-sm-6 column black_box" rel="寒门客">
    <div class="box_01" rel="寒门客">

        <div class="icon" style="background-color:#f4f4f4;" rel="寒门客"><center>
                        <img src="{{ url_for('static',filename='images/18.png') }}" alt="备案信息查询" width="47" height="47">
                    </center>
        </div>
        <div class="title_h4" rel="寒门客"><a href="{{ url_for('gojudaquan.beian') }}" rel="备案信息查询" target="_blank">备案信息查询</a></div>
        <p>根据域名查询ICP备案号及备案信息</p>

        <div class="btn_sy" rel="寒门客"><a href="{{ url_for('gojudaquan.beian') }}"rel="备案信息查询">开始使用</a></div><br>

    </div>
</div>





        </div>
        </div>


    <div class="row clearfix" rel="寒门客">
        <div class="col-md-12 column" rel="寒门客">
            <div class="boxlist" rel="寒门客">
                <h3>短视频工具</h3>
            </div>

                <div class="col-md-3 col-sm-6 column black_box" rel="寒门客">
            <div class="box_01" rel="寒门客">
            <div class="icon" style="background-color:#f4f4f4;">
              <center>
                <img src="{{ url_for('static',filename='images/19.png') }}" alt="抖音无水印视频解析" width="47" height="47">
              </center>
        </div>
        <div class="title_h4" rel="寒门客"><a href="{{ url_for('gojudaquan.douyin') }}" rel="抖音无水印视频解析" target="_blank">抖音无水印视频解析</a></div>
        <p>根据抖音分享的链接，解析出没有水印的视频</p>

              <div class="btn_sy" rel="寒门客"><a href="{{ url_for('gojudaquan.douyin') }}" rel="抖音无水印视频解析">开始使用</a></div><br>
          </div>
      </div>



        </div>
        </div>



    <div class="row clearfix" rel="寒门客">
        <div class="col-md-12 column" rel="寒门客">
            <div class="boxlist">
                <h3>音乐工具</h3>
            </div>

              <div class="col-md-3 col-sm-6 column black_box" rel="寒门客">
    <div class="box_01" rel="寒门客">


        <div class="icon" style="background-color:#f4f4f4;"><center>
                        <img src="{{ url_for('static',filename='images/7.png') }}" alt="网易云音乐随机歌曲" width="47" height="47">
                    </center>
        </div>
        <div class="title_h4" rel="寒门客"><a href="{{ url_for('gojudaquan.wyy_shuij') }}" target="_blank">网易云音乐随机歌曲</a></div>
        <p>网易云音乐，随机歌曲输出</p>

        <div class="btn_sy" rel="寒门客"><a href="{{ url_for('gojudaquan.wyy_shuij') }}" rel="网易云音乐随机歌曲">开始使用</a></div><br>
    </div>
</div>


              <div class="col-md-3 col-sm-6 column black_box" rel="寒门客">
    <div class="box_01">


        <div class="icon" style="background-color:#f4f4f4;" rel="寒门客"><center>
                        <img src="{{ url_for('static',filename='images/7.png') }}" alt="搜索获取网易云音乐数据" width="47" height="47">
                    </center>
        </div>
        <div class="title_h4" rel="寒门客"><a href="{{ url_for('gojudaquan.wyy_ss') }}" target="_blank">网易云音乐</a></div>
        <p>搜索获取网易云音乐数据</p>

        <div class="btn_sy"><a href="{{ url_for('gojudaquan.wyy_ss') }}" rel="网易云音乐">开始使用</a></div><br>
    </div>
</div>

                          <div class="col-md-3 col-sm-6 column black_box">
    <div class="box_01">


        <div class="icon" style="background-color:#f4f4f4;"><center>
                        <img src="{{ url_for('static',filename='images/7.png') }}" alt="随机获取网易云音乐热门歌曲接口" width="47" height="47">
                    </center>
        </div>
        <div class="title_h4" rel="寒门客"><a href="{{ url_for('gojudaquan.wyy_si_hq') }}" target="_blank">网易云音乐</a></div>
        <p>随机获取网易云音乐热门歌曲接口</p>

        <div class="btn_sy"><a href="{{ url_for('gojudaquan.wyy_si_hq') }}" rel="nofollow">开始使用</a></div><br>
    </div>
</div>

                                      <div class="col-md-3 col-sm-6 column black_box">
    <div class="box_01">


        <div class="icon" style="background-color:#f4f4f4;"><center>
                        <img src="{{ url_for('static',filename='images/7.png') }}" alt="随机获取网易云音乐热门评论接口" width="47" height="47">
                    </center>
        </div>
        <div class="title_h4" rel="寒门客"><a href="{{ url_for('gojudaquan.wyy_rp') }}" target="_blank">网易云音乐</a></div>
        <p>随机获取网易云音乐热门评论接口</p>

        <div class="btn_sy"><a href="{{ url_for('gojudaquan.wyy_rp') }}" rel="nofollow">开始使用</a></div><br>
    </div>
</div>



        </div>
    </div>


</div>
{% endblock %}