{% extends 'base.html' %}


{% block titles %}
<title>
    寒门客-随机获取网易云音乐热门歌曲
</title>

{% endblock %}



{% block app_content %}
<div class="container">
<div class="row">
    <center>
    <h2>随机获取网易云音乐热门歌曲</h2><br>
{% if codes == 200 %}

    <h3>歌名:{{ rs['name'] }}</h3><br>
    <h3>作者名称:{{ rs['artists_name'] }}</h3><br>
        <audio autoplay alt="网易云音乐随机歌曲" controls="controls" style="display:block; margin:30px auto;">
      <source src="{{ rs['music_url'] }}" type="audio/mpeg">
    </audio>
                <button type="button" class="btn btn-primary">
        <h4><a href="{{ url_for('gojudaquan.wyy_si_hq') }}">下一首</a></h4>
    </button><br><br>
    <img src="{{ rs['music_pic'] }}" width="30%" height="30%"/>

    <hr>
{% endif %}
      <h2  class="text-center">作者的抖音二维码:</h2>
  <img src="{{ url_for('static',filename='images/douyinss.png') }}" alt="随机获取网易云音乐热门歌曲" width="50%" height="50%"/>


    </center>
</div>
</div>

{% endblock %}